<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
  <!--  1.单选框-->
  <label for="acceptLicense">
    <input type="checkbox" id="acceptLicense" v-model="acceptLicense">同意协议
  </label>
  <h2>您选择的是{{acceptLicense}}</h2>
  <button :disabled="!acceptLicense">下一步</button>

  <!--  2.多选框-->
  <label>
    <input type="checkbox" value="篮球" v-model="hobbies">篮球
  </label>
  <label>
    <input type="checkbox" value="足球" v-model="hobbies">足球
  </label>
  <label>
    <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
  </label>
  <label>
    <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
  </label>

  <h2>您的爱好是{{hobbies}}</h2>
</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: '你好啊',
      acceptLicense: false,
      hobbies: [],
    }
  })
</script>

</body>
</html>